// ===============
// background-image
// ===============

@mixin bg-img($path) {
	background-image: url($path);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	@content;
}