// @use font-size

$font-size1: 85px;
$font-size2: 50px;
$font-size3: 46px;
$font-size4: 38px;
$font-size5: 36px;
$font-size6: 34px;
$font-size7: 30px;
$font-size8: 29px;
$font-size9: 28px;
$font-size10: 25px;
$font-size11: 26px;
$font-size12: 24px;
$font-size13: 23px;
$font-size14: 22px;
$font-size15: 20px;
$font-size16: 18px;
$font-size17: 16px;
$font-size18: 15px;
$font-size19: 14px;
$font-size20: 13px;
$font-size21: 12px;
$font-size22: 10px;
